@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="Search" method="post">
        <input id="Id" type="number" name="Id"/>
        <input type="submit" />
    </form>
</div>
